# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
#*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Protocol_Analysis/build/*
Protocol_Analysis/debug_data_output/*
Protocol_Analysis/debug_log_output/*
function_test/flow_classify/build/*
function_test/helloworld/build/*
function_test/qos_meter/build/*
function_test/qos_sched/build/*
function_test/ring/build/*
function_test/timer/build/*
DPDK/dpdk-arm/build*
DPDK/dpdk-v21.05-sw64/build/*
PcapPlusPlus/Examples/ProtocolAnalysis/Bin/*

pcap测试网络包
*.tar.xz
*.tar.gz